[user]
	email = Kim.tiainen@gmail.com
	name = OGBOSO-coder
[core]
	editor = \"C:\\Users\\Kim\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
